.row.topic-header.u-padding-top-lg.position-relatve
  %img{:alt => "", :class=>"gitops-topic-bg", :src => "/images/topics/gitops-header-bg-1.svg"}/
  - if topic.related_content != nil
    .col-md-8.u-margin-bottom-0
      %h1.u-margin-bottom-sm
        = topic.title
      
      = kramdown(topic.header_body)
  - else 
    .col-md-6.u-margin-bottom-0
      %h1
        = topic.title
    .col-md-6.u-margin-bottom-0
      = kramdown(topic.header_body)
      
  - if topic.related_content != nil
    .col-md-4.u-margin-bottom-0.u-padding-bottom-sm
      %h4
        Related Content

      - topic.related_content.each do |article|
        %a{ href: "#{article.url}" }
          %p
            = article.title
