- if topic.resources != nil
  %hr.u-margin-top-xxl.u-margin-bottom-xxl
  .row.topic-resources.position-relative
    %img{:alt => "", :class=>"gitops-topic-bg resources", :src => "/images/topics/gitops-header-bg-3.svg"}/
    .col-md-5
      %h2
        = topic.resources_title

      %p
        = kramdown(topic.resources_intro) 

    .col-md-1
    .col-md-6.resources
      //need to only include this h3 if webcasts articles exist
      %h4 
        %img{:alt => "", :class=>"icon", :src => "/images/topics/icon-laptop-video.svg"}/ 
        Webcasts
      - topic.resources.each do |article|
        - if article.type == "webcast"
          %a{ href: "#{article.url}" }
            %p
              = article.title
      %hr.u-margin-top-sm.u-margin-bottom-sm
      %h4 
        %img{:alt => "", :class=>"icon", :src => "/images/topics/icon-open-book.svg"}/
        Whitepapers and ebooks 
      - topic.resources.each do |article|
        - if article.type == "Whitepapers and ebooks"
          %a{ href: "#{article.url}" }
            %p
              = article.title
      %hr.u-margin-top-sm.u-margin-bottom-sm
      %h4 
        %img{:alt => "", :class=>"icon", :src => "/images/topics/icon-docs.svg"}/
        Case studies
      - topic.resources.each do |article|
        - if article.type == "Case studies"
          %a{ href: "#{article.url}" }
            %p
              = article.title
      %hr.u-margin-top-sm.u-margin-bottom-sm
      %h4 
        %img{:alt => "", :class=>"icon", :src => "/images/topics/icon-report.svg"}/
        Reports
      - topic.resources.each do |article|
        - if article.type == "Reports"
          %a{ href: "#{article.url}" }
            %p
              = article.title
